.counterAll {
    border: 1px solid black;
    background: antiquewhite;
    padding: 20px;
    text-align: center;
}

.field {
    clear:both;
    text-align:right;
}

label {
    float:left;
}

input {
    text-align: center;
    width: 40px;
}

.counter {
    font-size: 100px;
    cursor: pointer;
    /*border: 1px solid black;*/
    display: inline-block;
    background: antiquewhite;
}